*{
  margin: 0;
  padding:0
}
.home {
  width: 100%;
}

.home .hero {
  width: 100%;
}

.header .topDiv .buttons{
  display: flex;
  justify-content: space-around;
}

.nav-ul
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

.products .buttons .btn {
  background-color: transparent;
  border: 1px solid black;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.2px;
  margin: 0 10px;
  border-radius: 5px;
}

.products .cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 5px;
  justify-items: center;
  list-style: none;
}

.products .cards .card {
  width: 200px;
  height: auto;
  box-shadow: 0 0 5px gray;
  padding: 5px;
  border-radius: 8px;
}

.products .cards .card .card-header {
  width: 200px;
  height: 250px;
}

.products .cards .card .card-header img {
  width: 80%;
  height: 80%;
  object-fit: contain;
  transition: all 1s;
}

.products .cards .card .card-body .title {
  text-transform: uppercase;
}

.products .cards .card .card-body .other {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
}

.products .cards .card .card-body .other span:last-child {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1.2px;
}


.products .cards .card .card-footer a {
  background-color: white;
  border: 1px solid black;
  padding: 5px 15px;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.footer {
  width: 100%;
  height:4vh;
  display: flex;
  justify-content: center;
  background-color: #343434;
  color: white;
}

.footer a {
  color: white;
}

.footer a:hover {
  color: #E0DBF2;
}

.checkout .row {
  display: flex;
  justify-content: space-around;
}

.checkout .row .col .formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.checkout .row .col .middlecol .right {
  flex-direction: column;
}

.checkout .row .col .middlecol .right h3 {
  font-size: 30px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}